{% extends 'userindex.html' %}
{% block body %}

<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">

  <table width="629" height="573" border="0" class="table table-borderless table-striped table-hover">
    <tr>
      <td>Name</td>
      <td>{{data['username']}}</td>
    </tr>
    <tr>
      <td>Place</td>
      <td>&nbsp;{{data['place']}}</td>
    </tr>
    <tr>
      <td>Post</td>
      <td>&nbsp;{{data['post']}}</td>
    </tr>
    <tr>
      <td>Pin</td>
      <td>&nbsp;{{data['pin']}}</td>
    </tr>
    <tr>
      <td>City</td>
      <td>{{data['city']}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>&nbsp;{{data['emailid']}}</td>
    </tr>
    <tr>
      <td>Phone No</td>
      <td>{{data['phoneno']}}</td>
    </tr>
    <tr>
      <td colspan="2"  align="center" ><a href="/user_updateprofile">Update</a></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
